<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Roles</ion-title>
    <ion-buttons slot="end">
      <ion-button id="create" (click)="createRole()">
        create
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let role of roles | async">
    <ion-label>{{role.name}}</ion-label>
    <ion-button id="show_{{role._id}}" routerLink="/roles/{{role._id}}" routerDirection="forward"><ion-icon name="chevron-forward-circle-outline"></ion-icon></ion-button>
    <ion-button id="remove_{{role._id}}" (click)="removeRole(role)" item-end><ion-icon name="trash-outline"></ion-icon></ion-button>
  </ion-item>
</ion-content>
