<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chaincodes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="install()">
        install
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-header>Installed chaincodes</ion-card-header>
  <ion-card-content>
    <ion-row *ngFor="let cc of installed | async">
      <ion-col>{{cc.name}}</ion-col>
      <ion-col>
        <ion-button size="small" (click)="instantiate(cc)">Instantiate</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>Instantiated chaincodes</ion-card-header>
  <ion-card-content>
    <ion-row *ngFor="let cc of installed | async">
      <ion-col>{{cc.name}}</ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="query()">
        Query
      </ion-button>
      <ion-button (click)="invoke()">
        Invoke
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
