<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Info</h1>
  <ion-grid>
    <ion-row>
      <ion-col>Consortial Domain</ion-col>
      <ion-col>{{info?.consDomain}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Organizational Name</ion-col>
      <ion-col>{{info?.orgName}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Channel Name</ion-col>
      <ion-col>{{info?.channelName}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Public IpV4</ion-col>
      <ion-col>{{info?.publicIpV4}}</ion-col>
    </ion-row>
  </ion-grid>
  
  <h1>General</h1>
  <ion-button (click)="initNetwork()">Init network</ion-button>
  <ion-button (click)="shutdownNetwork()">Shutdown network</ion-button>
  <ion-button (click)="joinNetwork()">Join network</ion-button>
  <!--<ion-button (click)="joinNetwork()" [disabled]="info ? organizations.canOrgJoin(info.orgName) : false">Join network</ion-button>-->
  
  <app-log-stream></app-log-stream>
</ion-content>