<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Permissions</ion-title>
    <ion-buttons slot="end">
      <ion-button id="create" (click)="createPermission()">
        create
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let perm of permissions | async">
    <ion-label>{{perm.name}}</ion-label>
    <ion-button id="show_{{perm._id}}" routerLink="/permissions/{{perm._id}}" routerDirection="forward"><ion-icon name="chevron-forward-circle-outline"></ion-icon></ion-button>
    <ion-button id="remove_{{perm._id}}" (click)="removePermission(perm)" item-end><ion-icon name="trash-outline"></ion-icon></ion-button>
  </ion-item>
</ion-content>
