<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>dApps</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="install()">
        install
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let dapp of dapps | async">
      <ion-avatar slot="start">
        <img src="https://dnetlobby.now.sh/api/getfile?id={{dapp.dapp.imageId}}">
      </ion-avatar>
      <ion-label>
        <h2>{{dapp.hostName}}</h2>
        <h2>{{dapp.dapp.dockerImage}}</h2>
        <p><a href="/dapp_{{dapp.dapp.title}}" target="_blank">Open dApp</a></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
