<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Channels</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngFor="let channel of channels | async, let i = index">
    <ion-col>{{channel._id}}</ion-col>
    <ion-col>
      <ion-button size="small" (click)="showChaincodeActions(channel)">Chaincode Actions</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
