<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Organization</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Instance configuration</ion-card-header>
    <ion-card-content>
      <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.getRawValue())">
        <ion-item>
          <ion-label>Full name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>About</ion-label>
          <ion-input formControlName="about" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Organization Avatar Image</ion-label>
          <ion-input type="file" id="file" (change)="handleFileInput($event.target.files)"></ion-input>
        </ion-item>
        <ion-button type="submit">Save</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
