<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <h1>"Blockchain simplified"</h1>
  </div>
</ion-content>

<ion-footer>
  <img src="../assets/dCentra.png">
  <img src="../assets/logo_hl_new.png">
</ion-footer>