<ion-card>
    <div *ngIf="org$ | async as org">
        <ion-item>
            <ion-label>Name</ion-label>
            {{org.name}}
        </ion-item>
        <ion-item>
            <ion-label>About</ion-label>
            {{org.about}}
        </ion-item>
        <ion-item>
            <ion-label>Email</ion-label>
            {{org.email}}
        </ion-item>
        <img src="{{lobbyService.GETFILE_URL}}?id={{org.imageId}}">
    </div>
    <ion-spinner *ngIf="!(org$ | async)"></ion-spinner>
</ion-card>
<br>
<div *ngIf="editable" style="text-align: right">
    <a href="edit-organization">Edit organization</a>
</div>