<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-button (click)="sendJoinRequest()">Send join request</ion-button>-->
  <ion-button (click)="sendChaincodeInstallRequest()" [disabled]="!hash">Send chaincode install request</ion-button>
  <ion-input type="file" accept="application/gzip" (change)="fileChanged($event)">
  </ion-input>
  {{hash}}
  <ion-card>
    <ion-card-header><b>Note</b></ion-card-header>
    <ion-card-content>
      A two thirds-majority vote from the members of the consortium is required to confirm a request.
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col><b>Type</b></ion-col>
      <ion-col><b>Key</b></ion-col>
      <ion-col><b>Votes</b></ion-col>
      <ion-col><b>Own vote</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let request of requests | async">
      <ion-col>
        <ion-icon name="add" *ngIf="request.parent"></ion-icon>
        {{request.type}}
      </ion-col>
      <ion-col>
        <div *ngIf="'org_join' === request.type" (click)="orgService.presentOrgPopover(request.subkey)">
          {{request.subkey.substr(27, 5)}}
        </div>
        {{"org_join" === request.type ? request.subkey.substr(27, 5) : request.key}}
      </ion-col>
      <ion-col>
        <ion-chip color="primary" outline="true">
          <ion-icon name="checkmark-circle" size="large" color="success"
           *ngIf="request.settled || request.parent?.settled">
          </ion-icon>
          <ion-icon name="close-circle" size="large" color="danger"
           *ngIf="!request.settled && !request.parent?.settled">
          </ion-icon>
          <ion-chip color="success">
            <ion-icon name="thumbs-up"></ion-icon>
            <ion-label>
              {{request.votes?.length || 0}} votes
            </ion-label>
          </ion-chip>
          
          of {{request.quorum?.length || 1}}
        </ion-chip>  
      </ion-col>
      <ion-col>
        <!--<ion-checkbox (ionChange)="vote($event, request)"
          [checked]="isVotedFor(request)">
        </ion-checkbox>-->
        <ion-chip outline="true">
          <ion-segment id="vote_{{request.type+'_'+request.key+'_'+request.subkey}}" class="vote"
            color="primary" (ionChange)="vote($event, request)"
            [value]="request.ownvote?.value || 0"
            [disabled]="request.settled">
            <ion-segment-button id="vote_up_${request.type}" value="1" color="success">
              <ion-icon name="thumbs-up"></ion-icon>
            </ion-segment-button>
            <!--<ion-segment-button [checked]="!isVotedFor(request)" color="warning">
              <ion-icon name="remove"></ion-icon>
            </ion-segment-button>-->
            <ion-segment-button id="vote_down_${request.type}" value="-1" color="danger">
              <ion-icon name="thumbs-down"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Skeleton screen -->
  <ion-grid *ngIf="!(requests | async)">
    <ion-row>
      <ion-col><ion-skeleton-text animated></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated></ion-skeleton-text></ion-col>
      <ion-col>
        <ion-chip color="primary" outline="true">
          <ion-chip color="success">
            <ion-icon name="thumbs-up"></ion-icon>
            <ion-label>
              <ion-skeleton-text></ion-skeleton-text>
            </ion-label>
          </ion-chip>
          
          <ion-skeleton-text></ion-skeleton-text>
        </ion-chip>  
      </ion-col>
      <ion-col>
        <ion-chip outline="true">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-skeleton-text animated></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated></ion-skeleton-text></ion-col>
      <ion-col>
        <ion-chip color="primary" outline="true">
          <ion-chip color="success">
            <ion-icon name="thumbs-up"></ion-icon>
            <ion-label>
              <ion-skeleton-text></ion-skeleton-text>
            </ion-label>
          </ion-chip>
          
          <ion-skeleton-text></ion-skeleton-text>
        </ion-chip>  
      </ion-col>
      <ion-col>
        <ion-chip outline="true">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-skeleton-text animated></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated></ion-skeleton-text></ion-col>
      <ion-col>
        <ion-chip color="primary" outline="true">
          <ion-chip color="success">
            <ion-icon name="thumbs-up"></ion-icon>
            <ion-label>
              <ion-skeleton-text></ion-skeleton-text>
            </ion-label>
          </ion-chip>
          
          <ion-skeleton-text></ion-skeleton-text>
        </ion-chip>  
      </ion-col>
      <ion-col>
        <ion-chip outline="true">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
