<ion-badge color="light">
    <ion-grid>
        <ion-row>
            <ion-col>Organisation:</ion-col>
            <ion-col>
                <ion-badge (click)="presentOrgPopover($event)">
                    {{(service.infoObservable | async)?.orgName}}
                </ion-badge>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Consortium:</ion-col>
            <ion-col>
                <ion-badge (click)="presentConsPopover($event)">
                    {{(service.infoObservable | async)?.consDomain}}
                </ion-badge>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Joined:</ion-col>
            <ion-col>{{(service.infoObservable | async)?.isJoined ? 'Yes' : 'No'}}</ion-col>
        </ion-row>
    </ion-grid>
</ion-badge>
<br>
<ion-badge color="success">
    User: {{userService?.loggedIn?.name}}
    <ion-icon name="log-in-outline" (click)="login()"></ion-icon>
    <app-notifications class="ion-float-right"></app-notifications>
</ion-badge>

<ion-segment (ionChange)="changeMode($event)" value="lobby">
    <ion-label>Mode</ion-label>
    <ion-segment-button value="lobby">
        <ion-icon name="play"></ion-icon>
        <ion-label>Lobby</ion-label>
    </ion-segment-button>
    <ion-segment-button value="manual">
        <ion-icon name="build"></ion-icon>
        <ion-label>Manual</ion-label>
    </ion-segment-button>
</ion-segment>
