<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consortial Lobby</ion-title>
    <ion-buttons slot="end">
      <ion-button id="refresh" (click)="refresh()">refresh</ion-button>
      <ion-button id="create" (click)="createConsortium()">create</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="lobbyService.isJoined()">
    <ion-card>
      <ion-card-header><h1>Already joined a consortium.</h1></ion-card-header>
      <ion-card-content>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Consortium</ion-card-subtitle>
            <ion-card-title>{{lobbyService.joined?.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Panavia_consortium_roundel.svg">
              </ion-avatar>
              <ion-label>
                <p>{{lobbyService.joined?.desc}}</p>
                <!--<p>{{lobbyService.members[requested.cid]?.length || 0}} members</p>-->
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <p>
          Your organization is already part of this consortium.<br>
          dNet can only one consortium at a time.
        </p>
        <p>
          You may however choose to leave the consortium and join a different one.
        </p>
        <ion-buttons>
          <ion-button color="primary" (click)="leave()">Leave</ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!lobbyService.isJoined() && lobbyService.isJoinRequestConfirmed()">
    <ion-card>
      <ion-card-header><h1>Join request confirmed.</h1></ion-card-header>
      <ion-card-content>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Consortium</ion-card-subtitle>
            <ion-card-title>{{lobbyService.requested.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Panavia_consortium_roundel.svg">
              </ion-avatar>
              <ion-label>
                <p>{{lobbyService.requested.desc}}</p>
                <!--<p>{{lobbyService.members[requested.cid]?.length || 0}} members</p>-->
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <p>
          Your organization has asked to join this consortium.<br>
          The consortium has approved your request any you may now enter the consortium.
        </p>
        <p>
          You may also choose to withdraw your request.
        </p>
        <ion-buttons>
          <ion-button color="primary" (click)="enter()">Enter</ion-button>
          <ion-button color="primary" (click)="withdrawRequest()">Withdraw</ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!lobbyService.isJoined() && lobbyService.isJoinRequestSubmitted() && !lobbyService.isJoinRequestConfirmed()">
    <ion-card>
      <ion-card-header><h1>Join request sent.</h1></ion-card-header>
      <ion-card-content>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Consortium</ion-card-subtitle>
            <ion-card-title>{{lobbyService.requested.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Panavia_consortium_roundel.svg">
              </ion-avatar>
              <ion-label>
                <p>{{lobbyService.requested.desc}}</p>
                <!--<p>{{lobbyService.members[lobbyService.requested.cid]?.length || 0}} members</p>-->
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <p>
          Your organization has asked to join this consortium.<br>
          Please wait until the join request has been confirmed by its members.
        </p>
        <p>
          You may also choose to withdraw your request.<br>
        </p>
        <ion-buttons>
          <ion-button color="primary" (click)="refresh()">Refresh</ion-button>
          <ion-button color="primary" (click)="withdrawRequest()">Withdraw</ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!lobbyService.isJoined() && !lobbyService.isJoinRequestSubmitted() && !lobbyService.isJoinRequestConfirmed() && lobbyService.consortia">
    <ion-card *ngFor="let cons of lobbyService.consortia">
      <!--<ion-icon name="pin" slot="start"></ion-icon>-->
      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="joinRequest(cons)">
          <!--<ion-icon name="add"></ion-icon>-->
          join
        </ion-fab-button>
      </ion-fab>
      <ion-card-header>
        <ion-card-subtitle>Consortium</ion-card-subtitle>
        <ion-card-title>{{cons.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Panavia_consortium_roundel.svg">
          </ion-avatar>
          <ion-label>
            <p>{{cons.desc}}</p>
            <p>{{cons?.members?.length || 0}} members</p>
          </ion-label>
        </ion-item>
        <ion-buttons slot="end">
          <ion-button id="join_request_{{cons.name}}" (click)="joinRequest(cons)">
            join request
          </ion-button>
          <!--<ion-button (click)="join(cons)">
            join
          </ion-button>-->
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Skeleton screen -->
  <div *ngIf="!lobbyService.consortia">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle><ion-skeleton-text></ion-skeleton-text></ion-card-subtitle>
        <ion-card-title><ion-skeleton-text></ion-skeleton-text></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
          <p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
        </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle><ion-skeleton-text></ion-skeleton-text></ion-card-subtitle>
        <ion-card-title><ion-skeleton-text></ion-skeleton-text></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
          <p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
        </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle><ion-skeleton-text></ion-skeleton-text></ion-card-subtitle>
        <ion-card-title><ion-skeleton-text></ion-skeleton-text></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
          <p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer *ngIf="!lobbyService.isJoinRequestSubmitted()">
  <ion-searchbar></ion-searchbar>
</ion-footer>
