<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="dapps">
    <ion-item *ngFor="let dapp of dapps | async">
      <ion-thumbnail slot="start">
        <img src="https://dnetlobby.now.sh/api/getfile?id={{dapp.imageId}}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{dapp.title}}</h2>
        <h3>{{dapp.short}}</h3>
        <p *ngIf="dapp.pricing">{{dapp.pricing.initialPrice}} {{dapp.pricing.currency}} one-time</p>
        <p *ngIf="dapp.pricing">{{dapp.pricing.pricePerMonth}} {{dapp.pricing.currency}} monthly</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="installRequest(dapp)">Request install</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Skeleton screen -->
  <ion-list *ngIf="!(dapps | async)">
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2><ion-skeleton-text></ion-skeleton-text></h2>
        <h3><ion-skeleton-text></ion-skeleton-text></h3>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button><ion-skeleton-text></ion-skeleton-text></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
