<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pending actions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let action of actions | async">
      <ion-col>{{action.name}}</ion-col>
      <ion-col>
        <ion-progress-bar [value]="actionsProgress[action._id]?.progress || 0"></ion-progress-bar>
      </ion-col>
      <ion-col>
        <ion-button (click)="showLog(action)">
          <ion-icon name="book-outline"></ion-icon>
          Log
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
