<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users"></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User</ion-title>
    <ion-buttons slot="end">
      <ion-button id="save" (click)="save()">
        save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="user.name"></ion-input>
  </ion-item>

  <ion-list>
    <ion-list-header>Assigned roles</ion-list-header>
    <ion-item *ngFor="let role of user.roles">
      {{role.name}}
      <ion-icon name="trash" (click)="removeRole(role)" item-end></ion-icon>
    </ion-item>
  </ion-list>
  <ion-buttons end>
    <ion-button (click)="attachRole()">Attach</ion-button>
  </ion-buttons>
</ion-content>
