<ion-header>
  <ion-toolbar>
    <ion-title>Plugin settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="plugin?.parameters">
    <ion-card-header>
      Plugin parameters
    </ion-card-header>
    <ion-card-content>
      <dynamic-form-builder #ngForm [fields]="plugin.parameters"></dynamic-form-builder>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="end" (click)="submit()" [disabled]="form?.form.invalid">Submit</ion-button>
      <ion-button slot="end" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>