<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.getRawValue())">
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-select formControlName="user">
        <ion-select-option *ngFor="let user of users | async" [value]="user">{{user.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button id="submit" type="submit" [disabled]="!formGroup.valid">Submit</ion-button>
    <ion-button id="cancel" (click)="onCancel()">Cancel</ion-button>
  </form>
</ion-content>
