<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Log stream</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-log-stream [eventSource]="eventSource"></app-log-stream>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="end" (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>