<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
    <ion-buttons slot="end">
      <ion-button id="create" (click)="createUser()">
        create
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let user of users | async">
    <ion-label>{{user.name}}</ion-label>
    <ion-button id="show_{{user._id}}" routerLink="/users/{{user._id}}" routerDirection="forward"><ion-icon name="chevron-forward-circle-outline"></ion-icon></ion-button>
    <ion-button id="remove_{{user._id}}" (click)="removeUser(user)" item-end><ion-icon name="trash-outline"></ion-icon></ion-button>
  </ion-item>
</ion-content>
