<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar>
          <img width="115px" src="assets/dNet.png">
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-status #status></app-status>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item *ngIf="!p.mode || p.mode === status.mode"
             [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-item *ngIf="(statusService.infoObservable | async)?.isJoined" (click)="openExplorer()">
          <ion-icon slot="start" name="speedometer"></ion-icon>
          <ion-label>Explorer</ion-label>
        </ion-item>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
