<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Containers</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="diagram">
      <ion-icon name="home"></ion-icon>
      <ion-label>Diagram</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list">
      <ion-icon name="apps"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>-->

<ion-content>
  <app-container-diagram></app-container-diagram>

  <ion-grid>
    <ion-row *ngFor="let container of containers | async, let i = index">
      <ion-col>{{container.Name}}</ion-col>
      <ion-col>
        <ion-badge color="success" *ngIf="container.Health && 'OK' == Container.Health.status">healthy</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
