<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Swarm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header><b>Swarm nodes</b></ion-card-header>
    <ion-card-content>
      <ion-row *ngFor="let node of nodes">
        <ion-col>{{node.Description.Hostname}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header><b>Swarm management</b></ion-card-header>
    <ion-card-content>
      Send this to others to have them join the swarm:<br>
      {{swarm?.JoinTokens.Manager}} {{info?.publicIpV4}}:2377
      <br>
      <ion-button (click)="initSwarm()" [disabled]="swarm?.CreatedAt">
        Init swarm
      </ion-button>
      <ion-button (click)="joinSwarm()" [disabled]="swarm?.CreatedAt">
        Join swarm
      </ion-button>
      <ion-button (click)="leaveSwarm()" [disabled]="!swarm?.CreatedAt">
        Leave swarm
      </ion-button>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header><b>Firewall</b></ion-card-header>
    <ion-card-content>
      Please make sure that your firewall is open for the following ports:<br>
      <ion-list>
        <ion-item>Port 2376/TCP</ion-item>
        <ion-item>Port 2377/TCP</ion-item>
        <ion-item>Port 7946/UDP and TCP</ion-item>
        <ion-item>Port 4789/UDP</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
