<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Plugins</ion-title>
    <!--<ion-buttons slot="end">
      <ion-button (click)="install()">
        install
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Installable plugins</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let plugin of installable">
          <ion-avatar slot="start">
            <img [src]="plugin.img">
          </ion-avatar>
          <ion-label>
            <h2>{{plugin.name}}</h2>
            <p><ion-button (click)="install(plugin)">install</ion-button></p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Installed plugins</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let plugin of installed">
          <ion-avatar slot="start">
            <img [src]="plugin.img">
          </ion-avatar>
          <ion-label>
            <h2>{{plugin.name}}</h2>
            <p><a href="{{'/plugin_'+plugin.name}}" target="_blank">Open Settings</a></p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
