<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Organizations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align:center;">Consortium "{{(status.infoObservable | async)?.consDomain}}"</h1>
  <div id="network"></div>

  <!--<ion-grid>
    <ion-row *ngFor="let org of orgs">
      <ion-col>
        {{org}}
      </ion-col>
    </ion-row>
  </ion-grid>-->
</ion-content>
